.mat-card {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .mat-card-content {
    background-color: #eaeaea;
    padding: 20px;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
  }
  
  .mat-card-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .mat-card-subtitle:last-of-type {
    margin-bottom: 0;
  }
  